<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Home Page</title>

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">



</head>

<body class="bg-gray-100 font-sans">

  <%- include('./partials/adminNav.ejs',{SideBarSection}) %>

    <%- include('./partials/adminSideBar.ejs') %>
 


    <main>

         
   
    
   </section>
         
   <section class="flex flex-wrap justify-center gap-10 mt-16 m-auto">
    <div class="w-3/12">
      <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover-bg-gray-700 common-section">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white text-center chart">Daily Sales</h5>
        <div class="flex flex-row justify-center items-center gap-5">
          <h1 class="text-3xl text-green-700 dark:text-gray-400" id="dailySales">0</h1>
          <button id="download-sales-report-daily" class="text-gray-900 text-xl">
            <i class="fa fa-file-excel-o"></i>
          </button>
          <a href='/adminSales-daily-report/pdf' id="daily-pdf-button-sales" class="text-xl">
            <i class="fa fa-file-pdf-o"></i>
          </a>
        </div>
      </div>
    </div>




    <div class="w-3/12">
      <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover-bg-gray-700 common-section">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white text-center chart">weekly Sales</h5>
        <div class="flex flex-row justify-center items-center gap-5">
          <h1 class="text-3xl text-green-700 dark:text-gray-400" id="weeklySales">0</h1>
          <button id="download-sales-report" class="text-gray-900 text-xl">
            <i class="fa fa-file-excel-o"></i>
          </button>
          <a href='/adminSales-weekly-report/pdf' id="weekly-pdf-button-sales" class="text-xl">
            <i class="fa fa-file-pdf-o"></i>
          </a>
        </div>
      </div>
    </div>











    <div class="w-3/12">
      <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover-bg-gray-700 common-section">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white text-center chart">month Sales</h5>
        <div class="flex flex-row justify-center items-center gap-5">
          <h1 class="text-3xl text-green-700 dark:text-gray-400" id="monthSales">0</h1>
          <button id="download-sales-report-month" class="text-gray-900 text-xl">
            <i class="fa fa-file-excel-o"></i>
          </button>
          <a href='/adminSales-month-report/pdf' id="month-pdf-button-sales" class="text-xl">
            <i class="fa fa-file-pdf-o"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  


   
     <section class="mt-16 flex flex-row justify-around gap-7 mx-20">
      <div class="w-6/12 flex m-auto">
        <canvas id="mySales-1"></canvas>
      </div>
      

      <div class="w-6/12 flex m-auto">
        <canvas id="mySales-2"></canvas>
      </div>
     </section>





     <!-- daily -->

  
 

    </main> 

  
    <script src="https://kit.fontawesome.com/72e1a8d80d.js" crossorigin="anonymous"></script>


      <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js"></script>
      <!-- font-awesome -->
      <script src="https://kit.fontawesome.com/72e1a8d80d.js" crossorigin="anonymous"></script>


      <!-- chart js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <script src="/js/search.js"></script>
     


    <script>

      //L ast 7day chart
const LastWeekChartOrder=document.getElementById('mySales-1')


const LastMonthChartOrder=document.getElementById('mySales-2')

     
// last 7 days (one week ) order report and revenue report generated

//order report

async function fetchSevenData() {
  try {
    const response = await fetch('/adminChart/sevenDayChart');
    const data = await response.json();

    if(data){
    console.log(data.dailyData,":it ok");


    const xValues =['','','','','','','',]; 
const yValues =[0,0,0,0,0,0,0];  
const barColors = ["red", "green","blue","orange","brown"];
data.dailyData.map((item,index)=>yValues[index]=item.totalPrice)

data.dailyData.map((item,index)=>xValues[index]=item.date)


const dailySales=document.getElementById('dailySales')
    dailySales.textContent=` ₹ ${yValues[0].toFixed(2)}`;

    const weeklySales=document.getElementById('weeklySales')
    weeklySales.textContent=`₹ ${yValues.reduce((total,value,i)=>total+value,0).toFixed(2)}`
console.log(xValues,"my last week date");
console.log(yValues,"my total price");
new Chart(LastWeekChartOrder, {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      label:'last 7 days revenue',
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {  
    legend: {display: false},
    title: {
      display: true,
      text: "Monthly Sales Data"
    }
  }
});


    }

    // Extract data from the JSON response
   
  } catch (error) {
    console.error('Error fetching data:', error);
  }
}

fetchSevenData();


    </script>



<script>

  

//FETCH THIRTY DAYS LAST



async function fetchThirtyData() {

  const montlsalesChartDisplay=document.getElementById('mySales-2')
  try {
    const response = await fetch('/adminChart/thirtyDayChart');
    const data = await response.json();

    if(data){
    console.log(data.dailyData,":it ok");

const xValues = [];
const yValues =[];
const barColors = ["red", "green","blue","orange","brown"];
 data.dailyData.forEach((item) => {
  yValues.push(item.totalPrice);
  xValues.push(item.date)
  
 });
console.log(xValues,"my last week date");
console.log(yValues,"my total price");


const monthSales=document.getElementById('monthSales')
monthSales.textContent=`₹ ${yValues.reduce((total,value,i)=>total+value,0).toFixed(2)}`

new Chart(montlsalesChartDisplay, {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      label:'revenue last 30 days',
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Monthly Sales Data"
    }
  }
});


    }

    // Extract data from the JSON response
   
  } catch (error) {
    console.error('Error fetching data:', error);
  }
}





fetchThirtyData()
</script>



<script>


       
      const downloadSalesReport = document.querySelector('#download-sales-report');
  
      downloadSalesReport.addEventListener('click', () => {
        fetch('/admin/salesExcelReport')
          .then((response) => response.blob())
          .then((blob) => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = 'sales-report.xlsx';
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
          })
          .catch((error) => {
            console.error('Error downloading Excel file:', error);
          });
      });
  
  
  
      </script>




<script>


       
  const downloadSalesReportMonthly = document.querySelector('#download-sales-report-month');

  downloadSalesReportMonthly.addEventListener('click', () => {
    fetch("/adminSalesReportMontly")
      .then((response) => response.blob())
      .then((blob) => {
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        a.download = 'sales-report-month.xlsx';
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
      })
      .catch((error) => {
        console.error('Error downloading Excel file:', error);
      });
  });



  </script>

<!-- daily sales excel report -->



<script>


       
  const downloadSalesReportDaily = document.querySelector('#download-sales-report-daily');

  downloadSalesReportDaily.addEventListener('click', () => {
    fetch("/adminSalesReportDaily")
      .then((response) => response.blob())
      .then((blob) => {
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        a.download = 'sales-report-month.xlsx';
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
      })
      .catch((error) => {
        console.error('Error downloading Excel file:', error);
      });
  });



  </script>



<script>
  const dailyPdfSales = document.getElementById('adminSales-daily-report/pdf');
  const weeklyPdfSales = document.getElementById('adminSales-weekly-report/pdf');
  const monthPdfSales = document.getElementById('adminSales-month-report/pdf');

  dailyPdfSales.addEventListener('click', () => {
    console.log("hello");
    window.location.href = "/adminSales-daily-report/pdf";
  });


  weeklyPdfSales.addEventListener('click', () => {
    console.log("hello");
    window.location.href = "/adminSales-weekly-report/pdf";
  });



  monthPdfSales.addEventListener('click', () => {
    console.log("hello");
    window.location.href = "/adminSales-month-report/pdf";
  });
</script>


        
      

</body>

</html>






