<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP Verification</title>
  <link rel="stylesheet" href="dist/output.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
</head>

<body>
  <div class="h-screen bg-blue-500 py-20 px-3">
    <div class="container mx-auto">
      <div class="max-w-sm mx-auto md:max-w-lg">
        <div class="w-full">
          <div class="bg-white h-64 py-3 rounded text-center">
            <h1 class="text-2xl font-bold">OTP Verification</h1>
            <div class="flex flex-col mt-4">
              <span>Enter the OTP you received :</span>
           
            </div>
            <form action="/otpVerfication" method="post">
              <div id="otp" class="flex flex-row justify-center text-center px-2 mt-5">
                <input class="m-2 border h-10 w-10 text-center  form-control rounded" name="otpOne" type="text"
                  id="first" maxlength="1" />
                <input class="m-2 border h-10 w-10 text-center form-control rounded" name="otpTwo" type="text"
                  id="second" maxlength="1" />
                <input class="m-2 border h-10 w-10 text-center form-control rounded" name="otpThree" type="text"
                  id="third" maxlength="1" />
                <input class="m-2 border h-10 w-10 text-center form-control rounded" name="otpFour" type="text"
                  id="fourth" maxlength="1" />
                <input class="m-2 border h-10 w-10 text-center form-control rounded" name="otpFive" type="text"
                  id="fifth" maxlength="1" />
                <input class="m-2 border h-10 w-10 text-center form-control rounded" name="otpSix" type="text"
                  id="sixth" maxlength="1" />
              </div>
            <div><a href="/resendSignup">resend</a></div>
           
              <div class="flex justify-center text-center mt-5 ">
                 
                <button class="flex items-center text-blue-700 hover:text-blue-900 cursor-pointer"
                  type="submit">Verify</button>
              </div>
            </form>
       
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/72e1a8d80d.js" crossorigin="anonymous"></script>
  <script src="/js/swiper.js"></script>


</body>

</html>



