<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>profile add form</title>
  <link rel="stylesheet" href="dist/output.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>

  <%- include('./partials/header.ejs',{iswallet,isProfile,isUrl,islogout,isCreateAccount,isCreateAccountUrl,verifyUserEmail,cartItems,orderUrl}) %>

  <main class="flex justify-center items-center h-screen">
     <section >
        <form action="/userProfileAddForm" method="post" enctype="multipart/form-data">
          <label for="helper-text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">add your profile
            image</label>
          <input type="file" id="helper-text" aria-describedby="helper-text-explanation"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="place image" name="image">
          <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">We’ll never share your details.
            Read our <a href="#" class="font-medium text-blue-600 hover:underline dark:text-blue-500">Privacy Policy</a>.</p>

            <button class="bg-emerald-900 p-3 rounded-md text-white font-bold" type="submit">upload the image</button>
        </form>

     </section>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <!-- font-awesome -->
  <script src="https://kit.fontawesome.com/72e1a8d80d.js" crossorigin="anonymous"></script>

</body>
</html>