
<style>
  /* Set full height for the swiper container and slides */

  .swiper-slide-banner {
    height: 77vh;
  }



  /* Add any other styles you need */
  .swiper-slide-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;

  }

  @media screen and (max-width:767px) {
  .swiper-slide-banner {
    
  height:30vh;
  }
  .slide-banner-text-1{
    font-size: 20px;

  }
  .slide-banner-text-2{
    font-size: 14px;
  }
  .slide-banner-button-1{
    padding: 8px;
    font-size: 12px;
  }

}




@media screen and (max-width: 767px) {
  .swiper-slide-banner {
    
  height:10vh;
  }
  
}
</style>



<div class="swiper mySwiper bg-gray-100 p-4 ">
  <div class="swiper-wrapper">

    <% randomBanner.forEach((random) => {  %>
          <div class="relative swiper-slide  swiper-slide-banner text-white py-24 px-10 "
    style="background-image: url('<%= random%>');">
    <div class="absolute bottom-14  ">
     
      
        <a href="#"
          class="slide-banner-button-1 bg-blue-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800"><button>Show now</button></a>
 
    </div>
    
  </div>
      
   <% }); %>

 
      




    <!-- Add more slides as needed -->

  </div>
  <div class="swiper-pagination mt-4"></div>
</div>
</div>

