

<footer class="z-60 mt-24 ">
  <div class="mx-auto w-full max-w-screen-xl">
  </div>
  <div class="px-4 py-6 bg-gray-300 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 dark:text-gray-300 sm:text-center">
          © 2023 <a href="https://flowbite.com/">mywatchie.shop™</a>. All Rights Reserved.
      </span>
      <div class="flex mt-4 sm:justify-center md:mt-0 space-x-5 rtl:space-x-reverse">
          <!-- Your social media icons go here -->
      </div>
  </div>
</footer>
